---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">我</h2>
        <div class="tag-post-list">
          <ul>
            <li>篮球🏀 186cm</li>
            <li>喜欢香港，港乐港剧🎵，香港故事，爱港风</li>
            <li>初初初级前端程序员💻</li>
            <li>人生目标--财富自由不用打工😀正在努力中...</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/Chimannn" target="_blank">Github</a>
            </li>
            <li>
              微博：Chimannnnnnnn
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>此网站会记录我的生活日常，新闻、英语学习、运动...</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              有点多，我下次整理一下。
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
