---

---

<div id="3drunning" class="3drunning" style=""></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.0/lottie.min.js" is:inline></script>

<script is:inline>
    var anim = bodymovin.loadAnimation({
      container: document.getElementById('3drunning'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: '/static/img/running3d.json',
    });
</script>

<style>
  div {
    width:18rem;
    height:auto;
    position:fixed;
    top:20rem;
    left:-3rem;
    z-index: 1;
  }
  @media (max-width: 768px) {
    div {
      display: none;
    }
  }
</style>